/*------------- los estilos los agregamos en la parte de clausuras ---------------*/

*{
    margin:0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* *
.texto{
    font-size: 16px;
    max-width: 1200px;
    margin: auto;
    color: darkblue;
    padding: 30px;
}

header{
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding:20px;
    background-color: cadetblue;
    justify-content: space-between;
}
.noticia{
    font-size: 35px;
    text-decoration:underline;
    padding:20px;

} */
/* -----------------hasta aca es el estilo agregado de clausuras--------------- */

/* ------------------agregado RELOJ practicando onjeto date-------------------- */
/* .reloj{
    display: inline-flex;
    background:linear-gradient(#333,#999 );
    padding: 30px;
    border-radius: .6rem;
    font-size: 2rem;
}

.reloj div{
    padding: 5px;
    margin: .6px;
    border-radius: .3rem;
    background-color: aliceblue ; 
    color: rgb(0, 0, 0);
} */
 
/* ------------------finalizacion RELOJ practicando onjeto date-------------------- */

/* ---------------crear seleccion de idioma LOCAL/SESSION STORAGE ------------------
 .modal-overlay{
    background:rgba(0,0,0,0.7) ;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    animation: aparecer 1s forwards;
}

.modal{
    background-color: beige;
    margin: 30px;
    padding: 9px 20px;
    border-radius:10px ;

}

@keyframes aparecer{
    from {opacity:0}
    to{opacity:1}
}
@keyframes desaparecer{
    from {opacity:1}
    to{opacity:0}
} 
    ------------------------------fin seleccion idioma---------------------------------*/
/* __________________________________DRAG Y DROP ________________________________________ 
 .circulo{
    background-color: red;
    width:8%;
    height: 110px;
    border-radius: 50%;
    margin-left:20%;
}
.rectangulo{
    margin-top: 10px;
    outline:4px dashed rgb(123, 119, 119) ;
    width: 50%;
    height: 200px;
    background-color: grey;
    margin-left:20%;
} */

/* ----------------------------------TEXTURIZADOR drag y drop-------------------------------  
.texturas{
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
   user-select: none;   -esto hace que no se pueda seleccionar nada - 
}
.texturas div{
    width: 50px;
    height: 50px;
    margin: 6px;
    user-select: all;  nos permite seleecionar solo los div 
}
.texturas div:active{
opacity:0.6;
}
.textura1{
    background:  url("imagenes/textura1.png");
}
.textura2{
    background:  url("imagenes/textura2.png");
}
.textura3{
    background:  url("imagenes/textura3.png");
}
.zona{
    margin: 10px;
    background-color: rgb(186, 186, 186);
    height: 200px;
}
*/
/* --------------------------------------------File Reader--------------------------------------------------- 
input{
    margin: 20px;
    color:red ;
    background-color: white;

}
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);
    border: 2px solid blue;
    border-radius: 1rem;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}
.cargar-texto{
    font-size: 20px;
    color: blue;
    background-color: rgb(255,255,255);
    margin: 20px;
    padding: 20px;

}
*/








/* -------------------------------------------- FIN File Reader--------------------------------------------------- 

